.awesome {
  background-color: #fff;
  padding: 80px 0 116px 0;
}

.advantage {
  width: 350px;
}
.advantage-img {
  border: 1px solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  color: #e72424;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-title {
  text-align: center;
  width: 189px;
  line-height: 29px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 16px;
  color: #333333;
}
.adventage-text {
  width: 350px;
  text-align: center;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}
