.header {
  background-color: #000000;
  padding: 20px 0;
}

.logo {
  font-size: 30px;
  color: #ffffff;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.IT {
  color: #ec7979;
}
nav {
  margin: 0 15px;
}
.navigation-list {
  display: flex;

  align-items: center;
}
.navigation-item {
  margin-left: 48px;
}
.navigation-item a {
  display: inline-block;
  color: rgb(255, 255, 255, 0.7);
  font-size: 15px;
}

.navigation-item a:hover {
  transform: scale(1.2);
  transition: 0.2s;
  /* border-bottom: 1px solid #ffffff; */
  text-decoration: underline;
}
