@import url('../css/cdn.css');
@import url('../css/awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.title {
  width: 409px;
  text-align: center;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 34px;
  font-weight: normal;
  color: #212121;
}
.line {
  width: 67px;
  height: 2px;
  background-color: #e72424;
  margin: auto;
  margin-bottom: 34px;
}
.text {
  width: 363px;
  font-size: 14px;
  color: #86878b;
  margin: auto;
  text-align: center;
  margin-bottom: 68px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
