@import url('../css/cdn.css');
@import url('../css/awesome.css');
@import url('../css/price.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/footer.css');
@import url('../css/main.css');
@import url('../css/contacts.css');
@import url('../css/tabs.css');
@import url('../css/media.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
.title {
  width: 409px;
  text-align: center;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 34px;
  font-weight: normal;
  color: #212121;
}
.title::after {
  content: '';
  width: 64px;
  height: 2px;
  display: block;
  background-color: #e72424;
  margin: 34px auto;
}
.line {
  width: 67px;
  height: 2px;
  background-color: #e72424;
  margin: auto;
  margin-bottom: 34px;
}
.text {
  width: 363px;
  font-size: 14px;
  color: #86878b;
  margin: auto;
  text-align: center;
  margin-bottom: 68px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
